!!!
%html{ lang: "en" }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Subsdash
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
    %link{ href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet" }
  %body
    #app
      = render 'layouts/navbar'
      = yield
